# Build/Test/Dev related
__tests__/
coverage/
dist/
node_modules/
examples/
docker/

# Version control
.git
.github

# Configs
.prettierignore
.prettierrc.json
jest.config.ts
.dockerignore
Dockerfile*

# Docs, logs, CI/CD
*.md
*.log
*release*

# Environment files (optional)
.env*

# IDE/editor/misc
.vscode/
.DS_Store
Thumbs.db
