name: "Auto-label CI/CD Changes"

on:
  pull_request:
    types: [opened, synchronize]

permissions:
  contents: read
  pull-requests: write


jobs:
  label-ci:
    runs-on: ubuntu-latest
    if: github.event.pull_request.base.repo.full_name == 'dietrichmax/docker-staticmaps'
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Apply Labels
        uses: actions/labeler@v4
        with:
          repo-token: ${{ secrets.LABELER_TOKEN }}
          configuration-path: .github/labeler.yml
          sync-labels: false
          dot: false
